<div class="container">
    <!-- <div id="heading" style="text-align: center;">
        <h1 style="color: white;">Study<strong style="color: rgb(73, 186, 238); font-size: larger;">DEX</strong></h1>
    </div> -->

    <div id="founders">
        <section>
            <p style="font-size: 2rem; font-weight: 700; text-align: center;">Our Founders</p>
            <article style="display: flex;">
                <img src="../../assets/Images/bill.jpg" width="20%">
                <div>
                    <p style="font-size: x-large;">Mr. ABC</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae earum, dolor minima magnam eaque, incidunt facilis ratione eum optio sunt ipsum fugit veniam, reiciendis excepturi a deserunt in dolorum eveniet. Recusandae, aut iure. Magnam, reprehenderit quam? Dignissimos facilis repellendus, qui ducimus, nam incidunt repellat in adipisci error a tempore rerum!</p>
                    
                </div>    
                <aside style="display: flex; flex-direction: column;">
                    <q>Experience is not what happens to a man, it is what a man does when it happens to him</q>
                    <p>--Bill Gates</p>
                    <audio controls style="margin: 20px auto;">
                        <source src="../../assets/Audio/experience.mp3" type="audio/mp3">
                        Your Browser does not support audio element
                    </audio>
                </aside>
            </article>

            <article style="display: flex;">
                <img src="../../assets/Images/einstien.jfif" width="20%">
                <div>
                    <p style="font-size: x-large;">Mr. XYZ</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae earum, dolor minima magnam eaque, incidunt facilis ratione eum optio sunt ipsum fugit veniam, reiciendis excepturi a deserunt in dolorum eveniet. Recusandae, aut iure. Magnam, reprehenderit quam? Dignissimos facilis repellendus, qui ducimus, nam incidunt repellat in adipisci error a tempore rerum!</p>
            
                </div>    
                <aside style="display: flex; flex-direction: column;">
                    <q>The significant problems we face in life cannot be solved with the same level of thinking we were at when we created them</q>
                    <p>--Albert Einstien</p>
                    <audio controls style="margin: 20px auto;">
                        <source src="../../assets/Audio/significant_problem.mp3" type="audio/mp3">
                        Your Browser does not support audio element
                    </audio>
                </aside>
            </article>
        </section>

        
    </div>
</div>