
    <div id="contacts" class="conatiner">
        <p style="font-size: x-large; font-weight: 800; padding-left: 30px;">GET IN TOUCH WITH US</p>
        <div class="container" style="display: flex; flex-direction: column;">
            <div class="row">
                <div class="item col-md-5">
                    <a href="https://www.microsoft.com">
                        <figure>
                            <img src="../../assets/Images/microsoft.png">
                            <figcaption>Microsoft</figcaption>
                        </figure>
                    </a>
                </div>
                <div class="item col-md-5 mx-md-5">
                    <a href="https://www.twitter.com">
                        <figure>
                            <img src="../../assets/Images/twitter.png">
                            <figcaption>Twitter</figcaption>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="item col-md-5">
                    <a href="https://www.facebook.com">
                        <figure>
                            <img src="../../assets/Images/facebook.png">
                            <figcaption>Facebook</figcaption>
                        </figure>
                    </a>
                </div>
                <div class="item col-md-5 mx-md-5">
                    <a href="https://www.google.com">
                        <figure>
                            <img src="../../assets/Images/google.png">
                            <figcaption>Google</figcaption>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="item col-md-5">
                    <a href="https://www.discord.com">
                        <figure>
                            <img src="../../assets/Images/discord.png">
                            <figcaption>Discord</figcaption>
                        </figure>
                    </a>
                </div>
                <div class="item col-md-5 mx-md-5">
                    <a href="https://www.pinterest.com">
                        <figure>
                            <img src="../../assets/Images/pinterest.png">
                            <figcaption>Pinterest</figcaption>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="item col-md-5">
                    <a href="https://www.youtube.com">
                        <figure>
                            <img src="../../assets/Images/youtube.png">
                            <figcaption>You Tube</figcaption>
                        </figure>
                    </a>
                </div>
                <div class="item col-md-5 mx-md-5">
                    <a href="https://www.linkedin.com">
                        <figure>
                            <img src="../../assets/Images/linkedin.png">
                            <figcaption>LinkedIn</figcaption>
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </div>
