<div class="container-top">
    <h3 class="mx-md-5">{{_course.title}}</h3>
    <div id="courses" class="container row  p-md-5 my-md-3 mx-md-5">
        <div class="col-md-12 card-layout">
            <figure class="row ">
                <img class="col-md-4" src={{_course.img}}>
                <figcaption class="container col-md-8">
                    <h5>{{_course.title}}</h5>
                    <p>{{_course.desc}}</p>
                    <p>{{_course.author}}, {{_course.rating}}, {{_course.price}}</p>
                    <p>Users : {{_course.user_count}}</p>
                </figcaption>
            </figure>
        </div>
    </div>
</div>